body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

h1 {
    color: #444;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
/* Стили для кнопки "Связаться с нами" */
.contact-btn-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
}

.contact-btn {
    background-color: #007BFF;
    color: white;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 50px;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.contact-btn:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}
