/* Общие стили */
:root {
    --primary-color: #1F2937; /* Темно-серый для фона шапки и подвала */
    --secondary-color: #FF7F00; /* Яркий оранжевый для акцентов */
    --background-color: #F8F9FA; /* Светлый фон для страницы */
    --text-color: #333333; /* Темный текст */
    --header-color: #FF6A00; /* Оранжевый для заголовков */
    --section-background: #E0E0E0; /* Светло-серый для разделов */
    --button-bg-color: #007BFF; /* Голубой для кнопок */
    --button-bg-hover: #0056b3; /* Темно-синий для кнопок при наведении */
}
body {
    font-family: 'Roboto', 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    background-color: var(--background-color);
    line-height: 1.6;
}

header {
    background-color: var(--primary-color);
    padding: 10px 0;
}

.header-title {
    text-align: center;
    font-size: 24px;
    color: #ffa500;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    padding: 10px 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #ffa500;
}

h1, h2 {
    color: #000;
}

button {
    background-color:var(--button-bg-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color:var(--button-bg-hover);
}

footer {
    text-align: center;
    padding: 15px 0;
    background-color: #1F2937;
    color: #ffa500;
    margin-top: 20px;
}

/* Стили для секции "Как нас найти" */
.location-section {
    padding: 20px;
    text-align: center;
}

.map-container {
    margin: 20px auto;
    max-width: 90%;
    border-radius: 5px;
    overflow: hidden;
}

/* Стили для мобильных устройств */
@media (max-width: 768px) {
    .nav-list {
        flex-direction: column;
        gap: 10px;
    }

    .map-container {
        height: 300px;
    }
}
